.tipo {
    margin-left: 30px;
}

.catalogo {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
}

.item-list-catalogo {
    text-align: center;
    max-width: 480px;
    margin: 20px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 25px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .item-list-catalogo {
        max-width: 767px;
        grid-template-columns: repeat(3, 1fr);
        margin: 15px;
    }
}

@media only screen and (min-width: 767px) {
    .item-list-catalogo {
        max-width: 1920px;
        grid-template-columns: repeat(5, 1fr);
        margin: 30px;
        column-gap: 2%;
    }
}