body {
    display: block;
    overflow-x: hidden;
    font-family: Nunito, sans-serif;
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

h4 {
    font-size: 1.125rem;
}

h3 {
    font-size: 2.25rem;
    font-weight: bold;
}

h2 {
    font-size: 2.75rem;
    font-weight: 800;
    margin: 50px 0;
}

/* @media only screen and(min-width: 767px) { */
    p {
        font-size: 1.5rem;
    }
    a {
        color: white;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
/* } */